// Colores Primarios
$cyan: hsl(179, 62%, 43%);
$cyan-light: hsl(181, 47%, 51%);
$bright-yellow: hsl(71, 73%, 54%);

// Colores Neutrales

$light-gray: hsl(204, 43%, 93%);
$light-gray-shadow: hsl(207, 44%, 85%);
$grayish-blue: hsl(218, 22%, 67%);

$base-font: 'Karla', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-gray;
    font-family: $base-font;
}

.principal {
    background-color: $light-gray;
    width: 380px;
    margin: 0 auto;
}

.contenido-grid {
    display: grid;
    grid-template-rows: auto 1fr 1fr;

    width: 320px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem; 
    overflow: hidden;
    box-shadow: 0px 10px 30px $light-gray-shadow, 3px 9px 20px $light-gray-shadow, -3px 9px 20px $light-gray-shadow;
}

.seccion-descripcion {
    background-color: white;
    height: 260px;
    padding: 1.2rem;

    div {
        padding-left: 5px;
        padding-right: 5px;

        h1 {
            color: $cyan;
            line-height: 2.5rem;
            font-weight: 700;
            font-size: 1.2rem;
        }
        p {
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
            color: $bright-yellow;
        }
        .descripcion {
            font-weight: 400;
            color: $grayish-blue;
            font-size: 14px;
            line-height: 1.5rem;
            margin-top: auto;
        }
    }
}

.seccion-pago {
    background-color: $cyan;
    height: 220px;
    padding: 1.2rem;
    color: white;

    div {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;

        h2 {
            // color: white;
            font-size: 1.1rem;
        }

        .pago-flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;

            span {
                font-weight: 700;
                font-size: 2rem;
                margin-right: 0.8rem;
            }
            p {
                color: $light-gray;
                // color: red;
                opacity: 0.6;
                padding-top: 0;
            }
        }

        p {
            color: $light-gray;
            
        }
        a {
            display: block;
            text-decoration: none;
            text-align: center;
            color: white;
            font-weight: 700;
            background-color: $bright-yellow;
            padding: 0.8rem;
            margin-top: 2rem;
            border-radius: 0.4rem;
            box-shadow: 0px 4px 8px hsl(179, 74%, 33%);
        }
    }
}

.seccion-nosotros {
    background-color: $cyan-light;
    height: 220px;
    padding: 1.2rem;
    color: white;
    div {
        padding-left: 5px;
        padding-right: 5px;
        color: $light-gray;
        
        h2 {
            // color: white;
            font-size: 1.1rem;
        }
        p {
            margin-top: 1rem;
            font-size: 0.9rem;
            line-height: 1.3rem;
        }
    }
}

// MEDIA QUERIES
@media (min-width: 768px) {

    .principal {
        background-color: $light-gray;
        width: 100vw;
        margin: 0 auto;
    }

    .contenido-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        width: 640px;
        margin-top: 6rem;
    }

    .seccion-descripcion {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        // border-radius: 0.5rem;
        padding: 2rem;
        padding-right: 7rem;
        height: 205px;
        div {
            h1 {
                font-size: 1.5rem;
            }
            .descripcion {
                margin-top: 0.5rem;
            }
        }
    }

    .seccion-pago {
        height: 250px;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .seccion-nosotros {
        height: 250px;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
    }

}




// Estilos Frontend Mentor
.attribution {
    font-size: 13px;
    text-align: center;
    margin-bottom: 1rem;
}
.attribution a {
    color: $cyan;
    text-decoration: none;
}
